.hero
  @include flex-column (center, center)
  width: 100%
  height: 100%
  &__image
    position: relative
    width: 100%
    height: 40%
    background-image: url('../../assets/images/mobile-image-hero-1.jpg')
    background-size: cover
    background-repeat: no-repeat
  &__description
    width: 100%
    height: 60%
    padding: 3em 2em

    &-header
      width: 65vw
    &-text
      color: $darkGray
      line-height: 1.7em
  &__button
    margin-top: 3em
    background-color: transparent
    border: none
    padding: .8em
    outline: none
    &:hover
      .hero__button-text
        color: $darkGray
      .hero__button-svg path
        fill: $darkGray
    &-text, &-svg path
      transition: all .5s ease-in-out
    &-text
      text-transform: uppercase
      color: $black
      letter-spacing: .8em
      font-weight: 500
  &__slide-button-wrapper
    position: absolute
    bottom: 0
    right: 0
    background-color: $black
    @include flex-row (center, center)
  &__slide-button
    border: none
    background-color: transparent
    padding: 4.5vw 5.5vw
    @include flex-column (center, center)
    outline: none
  &__slide-button-img
    width: 3vw
    vertical-align: center
    color: $white
    margin: auto