@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap')

body, #root
  padding: 0
  margin: 0
  font-size: $font-size-m
  font-family: 'Spartan', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  width: 100vw
  height: 100vh


*, *::before, *::after
  box-sizing: border-box


#root
  display: grid
  grid-template-rows: 133vh 50vh 30vh 40vh

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace



.hide-desktop
  @include breakpoint-up (medium)
    display: none


.hide-mobile
  @include breakpoint-down (small)
    display: none